<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Source</th>
      <th>Received At</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{range .Webhooks}}
    <tr>
      <td>{{.ID}}</td>
      <td>{{.Source}}</td>
      <td>{{.ReceivedAt}}</td>
      <td class="status-{{.Status}}">{{.Status}}</td>
      <td>
        <a
          hx-post="/api/webhooks/replay?id={{.ID}}"
          hx-swap="outerHTML"
          hx-target="this"
          hx-trigger="click"
          class="replay-link"
        >
          🔁 Replay
        </a>

        |
        <a href="/partials/webhook/{{.ID}}" target="_blank">🔍 Inspect</a>
      </td>    
    </tr>
  {{end}}  
  </tbody>
</table>
